**/.git
**/.github
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.so
**/.pytest_cache
**/.coverage
**/htmlcov
**/coverage.xml
**/*.log
**/.env*
**/.venv*
**/venv*
**/ENV*
**/.DS_Store
**/.idea
**/.vscode
**/node_modules
**/dist
**/build
**/*.md
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/.git*
